<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
    </head>
    <body>
        Desculpe, essa página não existe.

        <% include partials/script %> 
    </body>
</html>