<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
    </head>
    <body>
        <div class="app-content">
            <% include partials/header-dashboard %>
        </div>
        <% include partials/aside-dashboard %>

        <div class="painel-content-margin">
            <div class="container-fluid painel-upside-title">Dashboard</div>
            <div class="container">
                <div class="col-md-12"> Ola </div>
            </div>
        <div>

        <script src="/js/views/home.js"></script>
        <script src="/js/controllers/homeController.js"></script>
        <script src="/js/form-validators/accountValidator.js"></script>

        <% include partials/alert %>
        <% include partials/confirm %>

        <% include partials/script %> 
    </body>
</html>