<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
    </head>
    <body>
        <% include partials/aside-dashboard %>
        <div class="app-content">
            <% include partials/header-dashboard %>
        </div>

        <% include partials/alert %> 
        <% include partials/confirm %> 

        <% include partials/script %> 
    </body>
</html>