<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-light bg-light">
            <div class="nav-item">
                <div class="navbar-brand">Control Panel</div>
            </div>
            <div class="navbar-nav ml-auto">
                <div class="nav-item"><button class="btn navbar-btn btn-outline-dark" id="btn-logout">Sign Out</button></div>
            </div>
        </nav>

        <% include partials/alert %> 
        <% include partials/confirm %> 

        <% include partials/script %> 
    </body>
</html>