<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
    </head>
    <body>
      <div class="container text-center" id="login">
        <h1>Painel.io</h1>
        <div class="box-login">
            <form name="form" class="form-validation" method="post">
                <div class="text-danger wrapper text-center"> </div>
                
                <div class="list-group">
                    <input type="text" placeholder="Email" class="border-0" name="user" required>
                    <input type="password" placeholder="Password" class="border-0" name="pass" required>
                </div>
                <button type="submit" class="btn btn-lg btn-login-p">Entrar</button>
                <div class="m-3"><a href="#" id="forgot-password">Esqueceu a senha?</a></div>
                <hr class="m-2">
                <div class="text-center m-2"><small>Não tem uma conta?</small></div>
                <a href="/signup" id="create-account" class="btn btn-lg btn-secondary btn-login-s border-0">Criar uma conta</a>
            </form>
        </div>
        <div class="text-center">
            <p>
        <small class="text-muted">Sistema de gerenciamento de projetos e clientes<br>&copy; 2019</small>
        </p>
        </div>
      </div>

        

        <% include partials/alert %>
        <% include partials/lost-password %>

        <script src="/js/views/login.js"></script>
        <script src="/js/controllers/loginController.js"></script>
        <script src="/js/form-validators/loginValidator.js"></script>
        <script src="/js/form-validators/emailValidator.js"></script>

        <% include partials/script %>
    </body>
</html>