<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
    </head>
    <body>
        <% include partials/reset-password %>

        <% include partials/script %>
        <script src="/js/views/reset.js"></script>
        <script src="/js/form-validators/resetValidator.js"></script>
    </body>
</html>