<aside id="aside" class="painel-aside painel-hidden-md">
    <ul class="nav">
        <li class="text-muted">Permissões</li>
        <li> <a href="#">
            <i class="fas fa-user-shield"></i>
            <span> Acessos</span>
        </li> </a>
        <li class="painel-aside-line"></li>
        <li class="text-muted">
            <span>Módulos</span>
        </li>
        <li> <a href="#">
            <i class="fas fa-file-invoice-dollar"></i>
            <span>Pagamento</span>
        </li> </a>
        <li> <a href="#">
            <i class="fas fa-comment-dollar"></i>
            <span>Pós Venda</span>
        </li> </a>
        <li> <a href="#">
            <i class="far fa-copy"></i>
            <span> Ata de Reunião</span>
        </li> </a>
        <li> <a href="#">
            <i class="fas fa-tasks"></i>
            <span>Lista de Tarefas</span>
        </li> </a>
        <li> <a href="#">
            <i class="fas fa-thumbtack"></i>
            <span>Marco</span>
        </li> </a>
        <li> <a href="#">
            <i class="far fa-comments"></i>
            <span>Tickets/Pedidos</span>
        </li> </a>
        <li> <a href="#">
            <i class="far fa-thumbs-up"></i>
            <span>Aprovação</span> 
        </li> </a>
    </ul>
</aside>

     