<aside id="aside" class="painel-aside">
    <a class="brand" href="#">
        <i class="fas fa-columns"></i>
        Painel.io
    </a>
    <ul class="nav">
        <li class="text-muted">Permissões</li>
        <li>
            <a href="#">
                <i class="fas fa-user-shield"></i>
                <span> Acessos</span>
            </a>
        </li>
        <li class="painel-aside-line"></li>
        <li class="text-muted">
                <span>Módulos</span>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-file-invoice-dollar"></i>
                <span>Pagamento</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-comment-dollar"></i>
                <span>Pós Venda</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="far fa-copy"></i>
                <span> Ata de Reunião</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-tasks"></i>
                <span>Lista de Tarefas</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-thumbtack"></i>
                <span>Marco</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="far fa-comments"></i>
                <span>Tickets/Pedidos</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="far fa-thumbs-up"></i>
                <span>Aprovação</span>
            </a>
        </li>
    </ul>
</aside>

     