<aside id="aside" class="painel-aside painel-hidden-md">
    <ul class="nav">
        <li class="text-muted">Permissões</li>
        <li>
            <a class="painel-dropdown" href="#">
                <i class="fas fa-user-shield"></i>
                <span> Acessos</span>
                <span class="pull-right">
                    <i class="fas fa-angle-right"></i>
                    <i class="fas fa-angle-down"></i>
                </span>
            </a>
            <ul class="painel-dropbox p-0">
                <li>
                    <a href="/colaboradores">
                        <span>Colaboradores</span>
                    </a>
                </li>
                <li>
                    <a href="/clientes">
                        <span>Clientes</span>
                    </a>
                </li>
            </ul>
        </li> 
        <li class="painel-aside-line"></li>
        <li class="text-muted">
            <span>Módulos</span>
        </li>
        <li> 
            <a href="#">
            <i class="fas fa-file-invoice-dollar"></i>
            <span>Pagamento</span>
            </a>
        </li> 
        <li> 
            <a href="#">
            <i class="fas fa-comment-dollar"></i>
            <span>Pós Venda</span>
            </a>
        </li> 
        <li> 
            <a href="#">
            <i class="far fa-copy"></i>
            <span> Ata de Reunião</span>
            </a>
        </li> 
        <li> 
            <a href="#">
            <i class="fas fa-tasks"></i>
            <span>Lista de Tarefas</span>
            </a>
        </li> 
        <li> 
            <a href="#">
            <i class="fas fa-thumbtack"></i>
            <span>Marco</span>
            </a>
        </li> 
        <li> 
            <a href="#">
            <i class="far fa-comments"></i>
            <span>Tickets/Pedidos</span>
            </a>
        </li> 
        <li> 
            <a href="#">
            <i class="far fa-thumbs-up"></i>
            <span>Aprovação</span> 
            </a>
        </li> 
    </ul>
</aside>

     