<aside id="aside" class="app-aside hidden-xs bg-dark" style="height: 100%;width: 200px; float: left;">
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand te" href="#">Painel.io</a>
        Area 1 <br>
        Acessos <br >
        Area 2 <br>
        Visualização dos módulos da empresa alocados para o cliente
    </nav>
</aside>

     